@keyframes gridMove {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 40px 40px, 40px 40px;
    }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}